<p class="text-xl font-bold mb-4">Data Binding Example</p>
<div class="flex justify-between mb-4">
  <div class="w-1/4">On Way - from .ts to .html</div>
  <div class="w-1/4"></div>
  <div class="w-1/4"></div>
</div>

<div class="flex flex-wrap m-3 p-3 gap-4">
  <!-- Interpolation and Property Binding Section -->
  <div class="w-1/4 border p-4 shadow-lg mt-4 bg-gray-50">
    <div class="mb-4">
      <div class="font-semibold">Interpolation</div>
      <h4 class="font-bold text-lg">{{ courseName }}</h4>
      <div>{{ inputType }}</div>
      <input type="text" class="border p-1 mt-2 w-full" placeholder="Enter value" value="{{ courseName }}" />
      <input type="{{inputType}}" class="border p-1 mt-2 w-full" placeholder="Enter value" value="{{courseName}}" />
    </div>
    <div class="mb-4">
      <div class="font-semibold">Property Binding</div>
      <div [class]="myClassName">Red</div>
      <input type="text" class="border p-1 mt-2 w-full" placeholder="Enter value" [value]="courseName" />
      <button [class]="myClassName + ' mt-2'">BUTTON</button>
    </div>
    <div class="flex flex-col gap-2">
      <button type="button" (click)="showAlert('Welcome Angular 18')" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 text-white font-medium rounded-lg text-sm px-5 py-2.5">Default</button>
      <span (click)="showAlert('Welcome Angular 18.1')" class="cursor-pointer text-blue-700 hover:text-blue-800">Click Me</span>
      <button type="button" (click)="changeCourseName()" class="bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:ring-blue-300 text-white font-medium rounded-lg text-sm px-5 py-2.5">Default</button>
    </div>
  </div>

  <!-- Two-way Data Binding Section -->
  <div class="w-1/4 border p-4 shadow-lg mt-4 flex flex-col gap-4 bg-gray-50">
    <div class="font-semibold">Two-way Data Binding</div>
    <input type="text" [(ngModel)]="courseName" class="border p-1 w-full" />
    <select class="border mt-2 p-1 w-full" [(ngModel)]="stateName">
      <option value="v1">V1</option>
      <option value="v2">V2</option>
    </select>
  </div>

  <!-- Using Signal Section -->
  <div class="w-1/4 border p-4 shadow-lg mt-4 flex flex-col gap-4 bg-gray-50">
    <div class="font-semibold">Using Signal</div>
    <div class="font-bold">{{ firstName() }}</div>
  </div>
</div>
